FLASK_ENV=development
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=agritracebio

PUBLIC_BASE_URL=http://localhost:5173

JWT_SECRET=change-me-in-production-please
JWT_ALGORITHM=HS256
JWT_EXPIRES_HOURS=24

UPLOADS_DIR=./uploads
MAX_UPLOAD_MB=10
