# URL de la caméra ESP32-CAM
ESP32_CAM_URL=http://192.168.1.50

# URL du backend AgriTraceBio (Flask + Mongo)
BACKEND_URL=http://192.168.1.42:5000

# Identifiants du nœud edge
DEVICE_ID=raspi-truck-01
CURRENT_LOT_CODE=AGR-001

# Modèles YOLO (fichiers .pt)
MODEL_RIPENESS_PATH=./models/pineapple_ripeness_v1.pt
MODEL_MOLD_PATH=./models/pineapple_mold_v1.pt
MODEL_VERSION=yolov8n-agritrace-v1
YOLO_CONF_THRESHOLD=0.35
YOLO_IMG_SIZE=640

# Cadence
CAPTURE_INTERVAL_S=60

# Local
LOG_LEVEL=INFO
